* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

body {
    background-color: #161616;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: #1d1d1d;
    color: white;
    border: 1px solid black;
}

.title {
    cursor: pointer;
    font-size: 30px;
    background: linear-gradient(to right, #2c62c7, #b3178e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 4em;
    text-align: center;
    width: 65%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color: transparent;
}

.nav-links li {
    list-style: none;
    transition: 0.4s ease-out;
}

.nav-links li:hover {
    color: #b3178e;
    transform: translateY(-13%);
}

.nav-links a {
    color: rgb(15, 141, 224);
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s ease-out;
}

.nav-links a:hover {
    color: #b3178e;
}

.dropdown-menu {
    display: none;
    cursor: pointer;
}

.dropdown-menu div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}


@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
   body {
       overflow-x: hidden;
   }

   nav {
       border: 1px solid black;
   }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 7vh;
        background-color: #1d1d1d;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 20%;
        transform: translateX(100%);
        border: 1px solid black;
        border-top: none;
        border-radius: 3.5px;
        margin-right: 0em; 
        animation-name: navLinkFade;
        animation-duration: 0.4s;
    }

    .nav-links li {
        opacity: 0;
    }
    
    .dropdown-menu {
        display: block;
        display: hidden;
    }

    .left {
        color: white;
        position: absolute;
        top: 10em;
    }
    
    .left h1 {
        margin-top: -2em;
        margin-left: 4.5em; 
        font-size: 50px;
        padding: 0em 0em 1.9em 0em ;
    }
    
    .right img  {
        position: absolute;
        width: 325px;
        top: 17.5em;
        margin-left: 11.3em;
    }

    .left p  {
      position: absolute;
        font-size: 25px;
        color: white;
        top: 22em;
        width: 418px;
        margin-left: 7em;
    }

    .left button  {
        position: absolute;
        margin-left: 16.7em;
        top: 26.5em;
    }

    .logo h1 {
        margin-left: 3.5em;
        width: 300px;
    }

    #j-button  {
        position: absolute;
        margin-left: 1em;
        top: 0.8em;
        padding: 0.4rem 0.3rem;
        border-radius: 0.2rem;
        background: none;
        border: 0.12rem solid #1D1E2C;
        color: rgb(105, 1, 202);
        box-shadow: 0rem 0rem 1rem 0.1rem;
    }

}

/*------this is the end of the media tags------*/


.nav-active {
    transform: translateX(0%);
    display: flex;
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.main-info {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5em auto;
    max-width: 80em; 
}

.main-image {
    margin-right: 2em;
    width: 500px;
    border-radius: 20px;
}

section div h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-left: 1.5em;
}

.Revolutionary {
    background: linear-gradient(to right, #bd00ad, #730bd4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.Innovative {
    background: linear-gradient(to right, #12cfb0, #00ff6a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.Powerful {
    background: linear-gradient(to right, #0077ff, #00fff2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.NGT {
    position: absolute;
    font-size: 25px;
    color: white;
    bottom: 9.5em;
    width:790px;
    margin-left: 12em;
}

.buy {
    position: absolute;
    top: 30.2em;
    margin-left: 10em;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background: purple;
    border: 3px solid purple;
    color: #121013;
    transition: 0.35s ease-out; 
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 17.5px;
    text-shadow: 0em 0em 0.1em #2C0E37;
    box-shadow: 0em 0em 1em 0.1em purple;
}

.buy:hover {
    transform: translateY(-5%);
    cursor: pointer;
}


h4 {
    position: absolute;
    top: 20em;
    font-size: 5rem;
}

.jump-button  {
    position: absolute;
    top: 1em;
    margin-left: 107em;
    background: white;
    color: black;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    background: linear-gradient(to bottom, rgb(37, 24, 24), rgb(82, 14, 190));
    box-shadow: 0rem 0rem 1rem 0rem black;
    transition: 0.4s ease;
}

.jump-button:hover {
    transform: translateY(-7%);
}